@model inReachWebRebuild.ViewModels.EmailFolderContentResultsViewModel

@if (Model.Results.Any())
{
    foreach (var item in Model.Results)
    {
        <div class="tile-wide" style="background: #EDFFFF; z-index: 10;" >
            <div class="tile-content">
               
                   <span ><b>@item.Display</b></span>
                <table class="table hovered striped" style="padding-left: 0px;">
                    @foreach (var prop in item.Properties)
                    {
                        <tr style="background: transparent">
                            <td style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px;">@Html.Raw(prop.Key) </td>
                            <td style='padding-top:0px; padding-bottom:0px;padding-left:0px;'> @Html.Raw(prop.Value.ToString()) </td>
                        </tr>
                    }

                </table>

               

               
            </div>
        </div>
    }
}