@model inReachWebRebuild.Models.Tile


<div class="tile" onclick="TileClicked('@Model.Title')">
    <div class="tile-content iconic">
        <span class="tile-label">@Model.Title</span>
        <img src="@Url.Content(@Model.IconUrl)">
    </div>

    
</div>

 




